.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-E8hs31IGRYtOh3);
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
  height: 71px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.section__p3RcR {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: url("/plasmic/coralia_mc/images/drawing1Sketchpadpng2.png") top 50% left 50% / cover repeat,
    var(--token-gvdXQJriS4TkZH);
  left: auto;
  top: auto;
  z-index: 1;
  padding: 36px 32px 658px;
}
.foreground4 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground4 > :global(.__wab_flex-container) > *,
.foreground4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground4 > :global(.__wab_flex-container) > picture > img,
.foreground4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___7OoP9 {
  flex-direction: column;
  display: flex;
}
.freeBox___7OoP9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7OoP9 > :global(.__wab_flex-container) > *,
.freeBox___7OoP9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7OoP9 > :global(.__wab_flex-container) > picture > img,
.freeBox___7OoP9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mB6Fo {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.section__xGy8F {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: linear-gradient(0deg, #c700df 0%, #63064f 100%);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___1Qj08 {
  flex-direction: column;
  display: flex;
}
.freeBox___1Qj08 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___1Qj08 > :global(.__wab_flex-container) > *,
.freeBox___1Qj08 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Qj08 > :global(.__wab_flex-container) > picture > img,
.freeBox___1Qj08
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__srkJt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___5Wrfd {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__hL5Tn {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__opHsr {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__opHsr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__opHsr > :global(.__wab_flex-container) > *,
.freeBox__opHsr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__opHsr > :global(.__wab_flex-container) > picture > img,
.freeBox__opHsr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns___9F1Ws {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___9F1Ws > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns___9F1Ws > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___9F1Ws > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___9F1Ws > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___9F1Ws > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___9F1Ws > :global(.__wab_flex-container) > *,
.columns___9F1Ws > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___9F1Ws > :global(.__wab_flex-container) > picture > img,
.columns___9F1Ws
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9F1Ws {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9F1Ws > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9F1Ws > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9F1Ws > :global(.__wab_flex-container) > *,
  .columns___9F1Ws > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___9F1Ws > :global(.__wab_flex-container) > picture > img,
  .columns___9F1Ws
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__fMH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ojsuj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xCtCv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 28px;
  height: 28px;
  color: var(--token-VzsLC_8ayoez6a);
  max-height: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
}
.column__lzLeM {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ivoEa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fk5Lt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 28px;
  height: 28px;
  color: var(--token-VzsLC_8ayoez6a);
}
.text__lg8C7 {
  padding-left: 0px;
}
.column__ogPvv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__rtfXn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___0EwWp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-VzsLC_8ayoez6a);
  width: 28px;
  height: 28px;
}
.text__ulFbd {
  padding-left: 0px;
  padding-top: 0px;
}
.column__e4Bmr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__c4V4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__lUkYx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 28px;
  height: 28px;
  color: var(--token-VzsLC_8ayoez6a);
  max-height: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
}
.text__eGiN {
  padding-left: 0px;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__utDgu {
  flex-direction: row-reverse;
  max-width: var(--token-0CLqrToWlmJ3ca);
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__utDgu > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__utDgu > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__utDgu > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__utDgu > :global(.__wab_flex-container) > *,
.columns__utDgu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__utDgu > :global(.__wab_flex-container) > picture > img,
.columns__utDgu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__utDgu {
    max-width: var(--token-0CLqrToWlmJ3ca);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__utDgu > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__utDgu > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__utDgu > :global(.__wab_flex-container) > *,
  .columns__utDgu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__utDgu > :global(.__wab_flex-container) > picture > img,
  .columns__utDgu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__sL048 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__h9Id {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__h9Id > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__h9Id > :global(.__wab_flex-container) > *,
.freeBox__h9Id > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h9Id > :global(.__wab_flex-container) > picture > img,
.freeBox__h9Id
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__cz9D5 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-dcc4Mgc6uCdx9R);
}
.h2__bR5Mz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Js4o4ZUZbReW0t);
  line-height: 1;
}
.text__dk0GG {
  font-size: 20px;
  color: var(--token-Afog2y_6Eefa5L);
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
}
.button__uaTma:global(.__wab_instance) {
  position: relative;
}
.svg__rBjyI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rYrx6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-VzsLC_8ayoez6a);
  border-style: solid;
  border-color: #ffffff;
}
.text__nP8Fi {
  color: var(--token-VzsLC_8ayoez6a);
}
.svg___99JNe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-VzsLC_8ayoez6a);
  width: 25px;
  height: 25px;
}
.button__wk8Pa:global(.__wab_instance) {
  position: relative;
}
.svg__buBQu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xw5NC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-VzsLC_8ayoez6a);
  border-style: solid;
  border-color: #ffffff;
}
.text__nP8Fi {
  color: var(--token-VzsLC_8ayoez6a);
}
.svg___8Nt56 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-VzsLC_8ayoez6a);
  width: 25px;
  height: 25px;
}
.column__aGcl8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___4Noww {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__wdTdb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__wdTdb:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__prrXv {
  color: var(--token-Js4o4ZUZbReW0t);
}
.svg__eiyPn {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-dcc4Mgc6uCdx9R);
}
.listItem__lp22A:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jQnwV {
  color: var(--token-Js4o4ZUZbReW0t);
}
.svg___95Yh {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-dcc4Mgc6uCdx9R);
}
.listItem__v0DeB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__hyew {
  height: auto;
  color: var(--token-Js4o4ZUZbReW0t);
}
.svg__psdu {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-dcc4Mgc6uCdx9R);
}
.listItem__px9Pa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__qLdgN {
  height: auto;
  color: var(--token-Js4o4ZUZbReW0t);
}
.svg__naByP {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-dcc4Mgc6uCdx9R);
}
.listItem__ziefx:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__o1Eg9 {
  height: auto;
  color: var(--token-Js4o4ZUZbReW0t);
  width: auto;
}
.svg__zitzw {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-dcc4Mgc6uCdx9R);
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
