.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-E8hs31IGRYtOh3);
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
  height: 71px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: url("/plasmic/coralia_mc/images/image43.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__rwbBx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rwbBx {
    margin-right: 0px;
    display: flex;
  }
}
.columns__mRrMy {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-0CLqrToWlmJ3ca);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__mRrMy > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__mRrMy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 64px) * 12 / 12);
}
.columns__mRrMy > :global(.__wab_flex-container) > *,
.columns__mRrMy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mRrMy > :global(.__wab_flex-container) > picture > img,
.columns__mRrMy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mRrMy {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mRrMy > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mRrMy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mRrMy > :global(.__wab_flex-container) > *,
  .columns__mRrMy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__mRrMy > :global(.__wab_flex-container) > picture > img,
  .columns__mRrMy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__igglj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bi98N {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__bi98N > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bi98N > :global(.__wab_flex-container) > *,
.freeBox__bi98N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bi98N > :global(.__wab_flex-container) > picture > img,
.freeBox__bi98N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__xhifx {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__xhifx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xhifx > :global(.__wab_flex-container) > *,
.freeBox__xhifx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xhifx > :global(.__wab_flex-container) > picture > img,
.freeBox__xhifx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___1DKvj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__fveZ4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-cquMyx6X0VAgwT);
  background: #ffffff;
  padding: 4px 8px;
}
.text__rfC8 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-VzsLC_8ayoez6a);
  padding-bottom: 0px;
}
.text__mHKcc {
  font-size: 20px;
  color: var(--token-VzsLC_8ayoez6a);
  line-height: 28px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-VzsLC_8ayoez6a);
  padding: 64px 319px 28px 0px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__sfP2N {
  flex-direction: column;
  display: flex;
}
.freeBox__sfP2N > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sfP2N > :global(.__wab_flex-container) > *,
.freeBox__sfP2N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sfP2N > :global(.__wab_flex-container) > picture > img,
.freeBox__sfP2N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__mBjZi {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-top: 0px;
}
.h1__aM5Vy {
  padding-bottom: 0px;
  height: 95px;
}
.h1__b31P {
  width: 420px;
  margin-left: 0px;
  padding-left: 24px;
  height: 197px;
  padding-bottom: 0px;
}
.h1__yUnAd {
  padding-left: 0px;
  width: 378px;
  padding-right: 0px;
}
.freeBox__iyuxR {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-gvdXQJriS4TkZH);
  margin-top: 0px;
  padding: 0px 64px;
}
.freeBox__iyuxR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__iyuxR > :global(.__wab_flex-container) > *,
.freeBox__iyuxR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iyuxR > :global(.__wab_flex-container) > picture > img,
.freeBox__iyuxR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iyuxR {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground4 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground4 > :global(.__wab_flex-container) > *,
.foreground4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground4 > :global(.__wab_flex-container) > picture > img,
.foreground4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__kxWis {
  font-size: 20px;
  color: #ffffff99;
  line-height: 28px;
  text-align: center;
}
.headerHeroSection3 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#00000033, #00000033),
    url("/plasmic/coralia_mc/images/image44.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection3 > :global(.__wab_flex-container) > *,
.headerHeroSection3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection3 > :global(.__wab_flex-container) > picture > img,
.headerHeroSection3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__bJO7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bJO7 {
    margin-right: 0px;
    display: flex;
  }
}
.columns__ar7Gh {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-0CLqrToWlmJ3ca);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__ar7Gh > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__ar7Gh > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 64px) * 12 / 12);
}
.columns__ar7Gh > :global(.__wab_flex-container) > *,
.columns__ar7Gh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ar7Gh > :global(.__wab_flex-container) > picture > img,
.columns__ar7Gh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ar7Gh {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ar7Gh > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ar7Gh > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ar7Gh > :global(.__wab_flex-container) > *,
  .columns__ar7Gh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ar7Gh > :global(.__wab_flex-container) > picture > img,
  .columns__ar7Gh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column___9XYaH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___5ZjCb {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox___5ZjCb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___5ZjCb > :global(.__wab_flex-container) > *,
.freeBox___5ZjCb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5ZjCb > :global(.__wab_flex-container) > picture > img,
.freeBox___5ZjCb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__tEsh3 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__tEsh3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tEsh3 > :global(.__wab_flex-container) > *,
.freeBox__tEsh3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tEsh3 > :global(.__wab_flex-container) > picture > img,
.freeBox__tEsh3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8M7Kd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__fkChx {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-cquMyx6X0VAgwT);
  background: #ffffff;
  padding: 4px 8px;
}
.text__afHNs {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-VzsLC_8ayoez6a);
}
.text__elXDw {
  font-size: 20px;
  color: var(--token-VzsLC_8ayoez6a);
  line-height: 28px;
}
.freeBox__dkdfR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__dkdfR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dkdfR > :global(.__wab_flex-container) > *,
.freeBox__dkdfR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dkdfR > :global(.__wab_flex-container) > picture > img,
.freeBox__dkdfR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__nrSe:global(.__wab_instance) {
  position: relative;
}
.svg___43Lh4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___7JmJi {
  height: auto;
}
.svg__o3EK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__tr4Pe {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-gvdXQJriS4TkZH);
  margin-top: 0px;
  padding: 0px 64px;
}
.freeBox__tr4Pe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__tr4Pe > :global(.__wab_flex-container) > *,
.freeBox__tr4Pe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tr4Pe > :global(.__wab_flex-container) > picture > img,
.freeBox__tr4Pe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tr4Pe {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground5 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground5 > :global(.__wab_flex-container) > *,
.foreground5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground5 > :global(.__wab_flex-container) > picture > img,
.foreground5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__s542 {
  font-size: 20px;
  color: #ffffff99;
  line-height: 28px;
  text-align: center;
}
.headerHeroSection4 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#00000033, #00000033),
    url("/plasmic/coralia_mc/images/image45.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection4 > :global(.__wab_flex-container) > *,
.headerHeroSection4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection4 > :global(.__wab_flex-container) > picture > img,
.headerHeroSection4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__ocZzg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ocZzg {
    margin-right: 0px;
    display: flex;
  }
}
.columns__c6EG {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-0CLqrToWlmJ3ca);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__c6EG > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__c6EG > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 64px) * 12 / 12);
}
.columns__c6EG > :global(.__wab_flex-container) > *,
.columns__c6EG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__c6EG > :global(.__wab_flex-container) > picture > img,
.columns__c6EG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c6EG {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c6EG > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c6EG > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c6EG > :global(.__wab_flex-container) > *,
  .columns__c6EG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__c6EG > :global(.__wab_flex-container) > picture > img,
  .columns__c6EG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__viiqe {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ljdYh {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__ljdYh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ljdYh > :global(.__wab_flex-container) > *,
.freeBox__ljdYh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ljdYh > :global(.__wab_flex-container) > picture > img,
.freeBox__ljdYh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__vWoa6 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__vWoa6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vWoa6 > :global(.__wab_flex-container) > *,
.freeBox__vWoa6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vWoa6 > :global(.__wab_flex-container) > picture > img,
.freeBox__vWoa6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___2RMS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__qsqOe {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-cquMyx6X0VAgwT);
  background: #ffffff;
  padding: 4px 8px;
}
.text__l8HSv {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-VzsLC_8ayoez6a);
}
.text__zAbE6 {
  font-size: 20px;
  color: var(--token-VzsLC_8ayoez6a);
  line-height: 28px;
}
.freeBox__b5Y4T {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__b5Y4T > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__b5Y4T > :global(.__wab_flex-container) > *,
.freeBox__b5Y4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b5Y4T > :global(.__wab_flex-container) > picture > img,
.freeBox__b5Y4T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__tgxuq:global(.__wab_instance) {
  position: relative;
}
.svg__aG1P8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zvVPm {
  height: auto;
}
.svg__kdn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__q6Jm {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-gvdXQJriS4TkZH);
  margin-top: 0px;
  padding: 0px 64px;
}
.freeBox__q6Jm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__q6Jm > :global(.__wab_flex-container) > *,
.freeBox__q6Jm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q6Jm > :global(.__wab_flex-container) > picture > img,
.freeBox__q6Jm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q6Jm {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground6 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground6 > :global(.__wab_flex-container) > *,
.foreground6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground6 > :global(.__wab_flex-container) > picture > img,
.foreground6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___99Htq {
  font-size: 20px;
  color: #ffffff99;
  line-height: 28px;
  text-align: center;
}
.freeBox__rEng {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #ffffff;
  padding: 64px;
}
.freeBox__rEng > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__rEng > :global(.__wab_flex-container) > *,
.freeBox__rEng > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rEng > :global(.__wab_flex-container) > picture > img,
.freeBox__rEng
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rEng {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__e9Agh {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__e9Agh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__e9Agh > :global(.__wab_flex-container) > *,
.freeBox__e9Agh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e9Agh > :global(.__wab_flex-container) > picture > img,
.freeBox__e9Agh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__zQnRz {
  flex-direction: column;
  display: flex;
}
.freeBox__zQnRz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zQnRz > :global(.__wab_flex-container) > *,
.freeBox__zQnRz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zQnRz > :global(.__wab_flex-container) > picture > img,
.freeBox__zQnRz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__pk6Uh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__z1XW {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z1XW {
    text-align: center;
  }
}
.text__jYk2W {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
  width: auto;
}
.freeBox__i81T {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__i81T > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__i81T > :global(.__wab_flex-container) > *,
.freeBox__i81T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i81T > :global(.__wab_flex-container) > picture > img,
.freeBox__i81T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i81T {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i81T > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i81T > :global(.__wab_flex-container) > *,
  .freeBox__i81T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i81T > :global(.__wab_flex-container) > picture > img,
  .freeBox__i81T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard___13Ag8:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__sKrTo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vvVW {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bejX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__p7WRu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__znOlg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___5Ckht {
  color: var(--token-39n8SShOcJsKBZ);
  padding-right: 0px;
}
.valueProp__ikCM:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__aPRiw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkPa8:global(.__wab_instance) {
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.svg__j7D0I {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ivj0E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__tQWo0 {
  padding-top: 0px;
}
.svg__drrde {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__wx6Tx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__j7NeY {
  padding-top: 0px;
}
.svg__bc3K {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__xsSlO:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__cNs7 {
  color: var(--token-zHZENG2gmUVj3f);
}
.valueProp__i6ZKp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__fIrqX {
  height: auto;
}
.svg__sdPzf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a7Kvl:global(.__wab_instance) {
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.svg__rwdD6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uAoRw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yjn7C {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yx9Lz:global(.__wab_instance) {
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.svg__naDeM {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___8G6Wl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8PBa1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__ef7Oa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__v0LCy {
  color: var(--token-nSGqODyoR2GXlF);
}
.valueProp__c96K:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xGn7M {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8Bl5:global(.__wab_instance) {
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.svg__sDvPy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yyUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ibFgV {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g75Rw:global(.__wab_instance) {
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.svg__ohsBg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__juy5H:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4XOi0 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sc1Kh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wOm9D {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
