.root {
  flex-direction: row;
  display: flex;
  position: relative;
  background: var(--token-VzsLC_8ayoez6a);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 48px;
}
.freeBox__cY3JD {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cY3JD {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.art {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .art {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    min-height: 320px;
    flex-column-gap: 0px;
  }
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.blend {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: none;
}
.freeBox__w0JRg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__we07 {
  flex-direction: column;
  display: flex;
  width: 100%;
  background: var(--token-E8hs31IGRYtOh3);
  min-width: 0;
  padding: 64px;
}
.freeBox__we07 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__we07 > :global(.__wab_flex-container) > *,
.freeBox__we07 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__we07 > :global(.__wab_flex-container) > picture > img,
.freeBox__we07
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__we07 {
    padding: 128px 32px;
  }
}
.copy {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 800px;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.freeBox__yv3B {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__yv3B > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yv3B > :global(.__wab_flex-container) > *,
.freeBox__yv3B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yv3B > :global(.__wab_flex-container) > picture > img,
.freeBox__yv3B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__yK9Bb {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-Js4o4ZUZbReW0t);
}
.text__b1TN5 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Js4o4ZUZbReW0t);
  line-height: 1;
}
.text__xNcaA {
  font-size: 20px;
  color: var(--token-Afog2y_6Eefa5L);
  line-height: 28px;
}
.freeBox___3G8YR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___3G8YR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___3G8YR > :global(.__wab_flex-container) > *,
.freeBox___3G8YR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3G8YR > :global(.__wab_flex-container) > picture > img,
.freeBox___3G8YR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__zci1S:global(.__wab_instance) {
  position: relative;
}
.svg__nBGkX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cK6Qp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___2JrRy:global(.__wab_instance) {
  position: relative;
}
.svg__o6Ejt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__liYb {
  height: auto;
  font-weight: 400;
}
.svg__lk1Vp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
