.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-E8hs31IGRYtOh3);
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
  height: 71px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__zFaFq {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-gvdXQJriS4TkZH);
  padding: 64px;
}
.freeBox__zFaFq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__zFaFq > :global(.__wab_flex-container) > *,
.freeBox__zFaFq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zFaFq > :global(.__wab_flex-container) > picture > img,
.freeBox__zFaFq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zFaFq {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__eCbj9 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9;
  line-height: 1;
}
.text__z6JRz {
  font-size: 20px;
  color: #ffffff99;
  line-height: 28px;
  text-align: center;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: url("/plasmic/coralia_mc/images/_20220701115705Png.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__qyOvo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qyOvo {
    margin-right: 0px;
    display: flex;
  }
}
.columns__x2Kyf {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-0CLqrToWlmJ3ca);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__x2Kyf > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__x2Kyf > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 64px) * 12 / 12);
}
.columns__x2Kyf > :global(.__wab_flex-container) > *,
.columns__x2Kyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__x2Kyf > :global(.__wab_flex-container) > picture > img,
.columns__x2Kyf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x2Kyf {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x2Kyf > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x2Kyf > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x2Kyf > :global(.__wab_flex-container) > *,
  .columns__x2Kyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__x2Kyf > :global(.__wab_flex-container) > picture > img,
  .columns__x2Kyf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__l8CCd {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wd45U {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__wd45U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__wd45U > :global(.__wab_flex-container) > *,
.freeBox__wd45U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wd45U > :global(.__wab_flex-container) > picture > img,
.freeBox__wd45U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__baE4G {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__baE4G > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__baE4G > :global(.__wab_flex-container) > *,
.freeBox__baE4G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__baE4G > :global(.__wab_flex-container) > picture > img,
.freeBox__baE4G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__tn5Q9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__zhhKa {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-cquMyx6X0VAgwT);
  background: #ffffff;
  padding: 4px 8px;
}
.text___55Y4N {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-VzsLC_8ayoez6a);
}
.text__pfkIq {
  font-size: 20px;
  color: var(--token-VzsLC_8ayoez6a);
  line-height: 28px;
}
.freeBox__nhqs7 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nhqs7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__nhqs7 > :global(.__wab_flex-container) > *,
.freeBox__nhqs7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nhqs7 > :global(.__wab_flex-container) > picture > img,
.freeBox__nhqs7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___6T6Oc:global(.__wab_instance) {
  position: relative;
}
.svg__cxl0S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qw1Qt {
  height: auto;
}
.svg__p9ZOw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__dEnTq {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-gvdXQJriS4TkZH);
  margin-top: 0px;
  padding: 0px 64px;
}
.freeBox__dEnTq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__dEnTq > :global(.__wab_flex-container) > *,
.freeBox__dEnTq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dEnTq > :global(.__wab_flex-container) > picture > img,
.freeBox__dEnTq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dEnTq {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__qnsU6 {
  font-size: 20px;
  color: #ffffff99;
  line-height: 28px;
  text-align: center;
}
.headerHeroSection2 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#00000033, #00000033),
    url("/plasmic/coralia_mc/images/_20220716190254Png.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection2 > :global(.__wab_flex-container) > *,
.headerHeroSection2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection2 > :global(.__wab_flex-container) > picture > img,
.headerHeroSection2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__pKl2G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pKl2G {
    margin-right: 0px;
    display: flex;
  }
}
.columns__my7Eb {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-0CLqrToWlmJ3ca);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__my7Eb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__my7Eb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 64px) * 12 / 12);
}
.columns__my7Eb > :global(.__wab_flex-container) > *,
.columns__my7Eb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__my7Eb > :global(.__wab_flex-container) > picture > img,
.columns__my7Eb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__my7Eb {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__my7Eb > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__my7Eb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__my7Eb > :global(.__wab_flex-container) > *,
  .columns__my7Eb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__my7Eb > :global(.__wab_flex-container) > picture > img,
  .columns__my7Eb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__oKtRw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__th6Cf {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__th6Cf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__th6Cf > :global(.__wab_flex-container) > *,
.freeBox__th6Cf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__th6Cf > :global(.__wab_flex-container) > picture > img,
.freeBox__th6Cf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__f9Z3W {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__f9Z3W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__f9Z3W > :global(.__wab_flex-container) > *,
.freeBox__f9Z3W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f9Z3W > :global(.__wab_flex-container) > picture > img,
.freeBox__f9Z3W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mnaHr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__zyo09 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-cquMyx6X0VAgwT);
  background: #ffffff;
  padding: 4px 8px;
}
.text__rvo21 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-VzsLC_8ayoez6a);
}
.text__coueJ {
  font-size: 20px;
  color: var(--token-VzsLC_8ayoez6a);
  line-height: 28px;
}
.freeBox__sdLXg {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__sdLXg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__sdLXg > :global(.__wab_flex-container) > *,
.freeBox__sdLXg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sdLXg > :global(.__wab_flex-container) > picture > img,
.freeBox__sdLXg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___8ZV1W:global(.__wab_instance) {
  position: relative;
}
.svg___06XKv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___2XhH5 {
  height: auto;
}
.svg__qBehM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__p8HsC {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-gvdXQJriS4TkZH);
  margin-top: 0px;
  padding: 0px 64px;
}
.freeBox__p8HsC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__p8HsC > :global(.__wab_flex-container) > *,
.freeBox__p8HsC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p8HsC > :global(.__wab_flex-container) > picture > img,
.freeBox__p8HsC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p8HsC {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground4 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground4 > :global(.__wab_flex-container) > *,
.foreground4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground4 > :global(.__wab_flex-container) > picture > img,
.foreground4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__vM3F7 {
  font-size: 20px;
  color: #ffffff99;
  line-height: 28px;
  text-align: center;
}
.headerHeroSection3 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#00000033, #00000033),
    url("/plasmic/coralia_mc/images/image43.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection3 > :global(.__wab_flex-container) > *,
.headerHeroSection3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection3 > :global(.__wab_flex-container) > picture > img,
.headerHeroSection3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__u6Ij6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u6Ij6 {
    margin-right: 0px;
    display: flex;
  }
}
.columns__b4Trp {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-0CLqrToWlmJ3ca);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__b4Trp > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__b4Trp > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 64px) * 12 / 12);
}
.columns__b4Trp > :global(.__wab_flex-container) > *,
.columns__b4Trp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__b4Trp > :global(.__wab_flex-container) > picture > img,
.columns__b4Trp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b4Trp {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b4Trp > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b4Trp > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b4Trp > :global(.__wab_flex-container) > *,
  .columns__b4Trp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__b4Trp > :global(.__wab_flex-container) > picture > img,
  .columns__b4Trp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__u2PAc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__x0GLa {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__x0GLa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__x0GLa > :global(.__wab_flex-container) > *,
.freeBox__x0GLa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x0GLa > :global(.__wab_flex-container) > picture > img,
.freeBox__x0GLa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__e2MCh {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__e2MCh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__e2MCh > :global(.__wab_flex-container) > *,
.freeBox__e2MCh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e2MCh > :global(.__wab_flex-container) > picture > img,
.freeBox__e2MCh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___9P2TF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text___9Z6XE {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-cquMyx6X0VAgwT);
  background: #ffffff;
  padding: 4px 8px;
}
.text__x2CMs {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-VzsLC_8ayoez6a);
}
.text___5JrV {
  font-size: 20px;
  color: var(--token-VzsLC_8ayoez6a);
  line-height: 28px;
}
.freeBox__wcdI {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__wcdI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wcdI > :global(.__wab_flex-container) > *,
.freeBox__wcdI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wcdI > :global(.__wab_flex-container) > picture > img,
.freeBox__wcdI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__rkTt:global(.__wab_instance) {
  position: relative;
}
.svg__hfNy2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___2Bj5Q {
  height: auto;
}
.svg__cf2Z2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__oxSy {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-gvdXQJriS4TkZH);
  margin-top: 0px;
  padding: 0px 64px;
}
.freeBox__oxSy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__oxSy > :global(.__wab_flex-container) > *,
.freeBox__oxSy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oxSy > :global(.__wab_flex-container) > picture > img,
.freeBox__oxSy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oxSy {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground5 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground5 > :global(.__wab_flex-container) > *,
.foreground5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground5 > :global(.__wab_flex-container) > picture > img,
.foreground5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__eytnJ {
  font-size: 20px;
  color: #ffffff99;
  line-height: 28px;
  text-align: center;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-b-dBK5vCFSZagU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__k3RhZ {
  flex-direction: column;
  display: flex;
}
.freeBox__k3RhZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__k3RhZ > :global(.__wab_flex-container) > *,
.freeBox__k3RhZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k3RhZ > :global(.__wab_flex-container) > picture > img,
.freeBox__k3RhZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__sfYe3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__bzwqB {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__pHZp {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__pHZp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__pHZp > :global(.__wab_flex-container) > *,
.freeBox__pHZp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pHZp > :global(.__wab_flex-container) > picture > img,
.freeBox__pHZp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns___1WKXs {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___1WKXs > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns___1WKXs > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___1WKXs > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___1WKXs > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___1WKXs > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___1WKXs > :global(.__wab_flex-container) > *,
.columns___1WKXs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___1WKXs > :global(.__wab_flex-container) > picture > img,
.columns___1WKXs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1WKXs {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1WKXs > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1WKXs > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1WKXs > :global(.__wab_flex-container) > *,
  .columns___1WKXs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___1WKXs > :global(.__wab_flex-container) > picture > img,
  .columns___1WKXs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__jajuV {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__pKvdj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___3Ib93 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-VzsLC_8ayoez6a);
  width: 28px;
  height: 28px;
}
.text__h4Qo1 {
  padding-left: 0px;
}
.column__fFyqc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__hfvtE:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zeGJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-VzsLC_8ayoez6a);
  width: 28px;
  height: 28px;
}
.text__egexC {
  padding-left: 0px;
}
.column___1AmgO {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___2Jjpg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__nkC5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-VzsLC_8ayoez6a);
  width: 28px;
  height: 28px;
}
.text__cUbgG {
  padding-left: 0px;
}
.column__knAw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__zf4A1:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__cMjTn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-VzsLC_8ayoez6a);
  width: 28px;
  height: 28px;
}
.text__gSsDs {
  padding-left: 0px;
}
.freeBox__knnX {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #ffffff;
  padding: 64px;
}
.freeBox__knnX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__knnX > :global(.__wab_flex-container) > *,
.freeBox__knnX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__knnX > :global(.__wab_flex-container) > picture > img,
.freeBox__knnX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__knnX {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox___8KrxX {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox___8KrxX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___8KrxX > :global(.__wab_flex-container) > *,
.freeBox___8KrxX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8KrxX > :global(.__wab_flex-container) > picture > img,
.freeBox___8KrxX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__t97PN {
  flex-direction: column;
  display: flex;
}
.freeBox__t97PN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__t97PN > :global(.__wab_flex-container) > *,
.freeBox__t97PN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t97PN > :global(.__wab_flex-container) > picture > img,
.freeBox__t97PN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___1XHtf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__d1DOb {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__d1DOb {
    text-align: center;
  }
}
.text__qwcHd {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
  padding-right: 0px;
}
.freeBox___1Xgyf {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___1Xgyf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___1Xgyf > :global(.__wab_flex-container) > *,
.freeBox___1Xgyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Xgyf > :global(.__wab_flex-container) > picture > img,
.freeBox___1Xgyf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Xgyf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Xgyf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Xgyf > :global(.__wab_flex-container) > *,
  .freeBox___1Xgyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1Xgyf > :global(.__wab_flex-container) > picture > img,
  .freeBox___1Xgyf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__aO4YF:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__p40LW:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4GxTg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bejX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lb5V9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__oNdEe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__q36Gf {
  color: var(--token-39n8SShOcJsKBZ);
  padding-right: 0px;
}
.valueProp__hh0LN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gI4ZV {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkPa8:global(.__wab_instance) {
  width: 100%;
  opacity: 1;
  min-width: 0;
  display: flex;
}
.svg__y4Is2 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ivj0E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__szX0 {
  padding-top: 0px;
}
.svg__aAul9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__wx6Tx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__rRV8 {
  padding-top: 0px;
}
.svg__wvlqL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard__ysX:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__eiDzb {
  color: var(--token-zHZENG2gmUVj3f);
}
.valueProp__hpGYd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__bFdz4 {
  height: auto;
}
.svg___2I3Ja {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a7Kvl:global(.__wab_instance) {
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.svg___1O60F {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uAoRw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8SrQh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yx9Lz:global(.__wab_instance) {
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.svg__fAybq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___8G6Wl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ss7Bp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.priceCard___8VBhj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__bkJ72 {
  color: var(--token-nSGqODyoR2GXlF);
}
.valueProp__wqgyd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wn4Wl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8Bl5:global(.__wab_instance) {
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.svg__tlZWk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yyUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ifXiS {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g75Rw:global(.__wab_instance) {
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.text___0RoxJ {
  opacity: 1;
}
.svg__aHd6O {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__juy5H:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yixIk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sc1Kh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rpG5B {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
